<!DOCTYPE html>
<html dir="ltr" lang="en-GB">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta id="theme-color" name="theme-color" content="#79bde9">
  <link href="css/style.css" rel="stylesheet" media="all" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'">
  <title>PIP Assessment Support</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <!--[if lt IE 9]>
			<script src="js/html5.js"></script>
			<script src="js/selectivizr-min.js"></script>
		<![endif]-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    			ga('create', 'UA-30970110-7', 'auto');
    			ga('send', 'pageview');
  </script>
</head>

<body>
  <header role="banner">
    <div class="logo" aria-label="seAp assessments PIP logo" aria-role="img"><img src="images/c-app-logo.png" alt="seAp assessments PIP logo" /><span>PIP Assessment Support</span></div>
    <nav role="navigation" class="to-main-menu">
      <ul>
        <li>
          <a href="#main-menu" data-action="menu">Home</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-action="stats">Your assessment</a>
        </li>
      </ul>
    </nav>
  </header>
  <noscript>
    We&#x2019;re having trouble loading the app. Please make sure that you&#x2019;ve got javascript enabled and <a href="/">try again</a>.
  </noscript>
  {{#each questions}}
  <div class="slide question" id="question-{{sluggify question}}">
    <div class="question-container">
      <h2 class="question-text" tabindex="-1">
					<span id="category-{{sluggify question}}" class="activity" aria-hidden="true">{{category}}</span>
					<span class="vh">Question:</span>
					<em>{{question}}</em>
					<span aria-labelledby="category-{{sluggify question}}"></span>
				</h2>
      <div role="alert"></div>
      <div class="answers">
        <fieldset>
          <legend class="vh">Your answer</legend>
          {{#each answers}}
          <label>
            <input type="radio" value="{{value}}" data-category-name="{{../category}}" name="{{sluggify ../question}}"> <span>{{label}}</span>
          </label>
          {{/each}}
        </fieldset>
      </div>
      <ul aria-label="menu">
        <li>
          <button data-followup="#{{followUp}}" class="nav-link pick" data-action="pick">Try another</button>
        </li>
        <li>
          <button class="nav-link stats" data-action="stats" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link break" data-action="break">I need a break</button>
        </li>
      </ul>
    </div>
  </div>
  {{/each}}
  <div class="slide qualify" id="qualify-high-mobility">
    <div class="box green">
      <h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>Mobility Component, Enhanced rate</strong>
				</h1>
      <p>Your answer to the last question indicates you may qualify for the &#x201c;Mobility Component&#x201d; of PIP at the enhanced rate.
      </p>
      <p>You may still find it helpful to take a look at some more questions so that you are better prepared for the assessment.</p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="pick">Another question</button>
        </li>
        <li>
          <button class="nav-link" data-action="stats" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-pip" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide qualify" id="qualify-low-mobility">
    <div class="box green">
      <h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>Mobility Component</strong>
				</h1>
        <p>Your answer to the last question indicates you may qualify for the &#x201c;Mobility Component&#x201d; of PIP at the standard rate.
        </p>
        <p> It&#x2019;s still possible that you may qualify for the enhanced rate. To find out, try some more questions.
      </p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="pick">Another question</button>
        </li>
        <li>
          <button class="nav-link" data-action="stats" role="link">Your assessment so far</button>
        </li>
        <li>
          <button data-action="about-pip" class="nav-link" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide qualify" id="qualify-high-dailyLiving">
    <div class="box green">
      <h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>Daily Living Component, Enhanced Rate</strong>
				</h1>
      <p>Your answer to the last question indicates you may qualify for the &#x201c;Daily Living&#x201d; component of PIP at the enhanced rate.</p>
      <p>You may still find it helpful to take a look at some more questions so that you are better prepared for the assessment.</p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="pick">Another question</button>
        </li>
        <li>
          <button class="nav-link" data-action="stats" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-pip" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide qualify" id="qualify-low-dailyLiving">
    <div class="box green">
      <h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>Daily Living Component</strong>
			</h1>
      <p>Your answer to the last question indicates you may qualify for the &#x201c;Daily Living Component&#x201d; of PIP at the standard rate.
      </p>
       <p>It&#x2019;s still possible that you may qualify for the enhanced rate. To find out, try some more questions.
      </p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="pick">Another question</button>
        </li>
        <li>
          <button class="nav-link" data-action="stats" role="link">Your assessment so far</button>
        </li>
        <li>
          <button data-action="about-pip" class="nav-link" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide break-time" id="break-time">
    <div class="box">
      <span class="sprite-icons sprite-tea" alt="steaming cup of tea"></span>
      <h1 tabindex="-1">You&#x2019;re on a break</h1>
      <div class="flex-center">
        <p>Feel free to close the window or turn off your computer and come back when you&#x2019;re ready. Everything will be as you left it :-)</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="resume">Continue</button>
        </li>
        <li>
          <button class="nav-link" data-action="menu" role="link">Home</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="slide are-you-sure" id="are-you-sure">
    <div class="box">
      <h1 tabindex="-1" style="red">Are you sure?</h1>
      <div class="flex-center">
        <p>This means we will get rid of any answers you've already given and you'll start again from the beginning.</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link red" data-action="delete-data">I&#x2019;m done! Delete my stuff</button>
        </li>
        <li>
          <button class="nav-link" data-action="menu" role="link">Home</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide deleted" id="deleted">
    <div class="box">
      <h1 tabindex="-1" style="red">Deleted</h1>
      <div class="flex-center">
        <p>All of your assessment data has been successfully deleted from this computer.</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="menu" role="link">Home</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide get-started" id="seen-all">
    <div class="box green">
      <h1 tabindex="-1">No more new questions</h1>
      <p>You&#x2019;ve seen all the questions available but skipped some of them. What would you like to do?</p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="skipped">Answer skipped questions</button>
        </li>
        <li>
          <button class="nav-link" data-action="stats" role="link">Your assessment so far</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide get-started" id="seen-all-even-skipped">
    <div class="box green">
      <h1 tabindex="-1">Questions completed!</h1>
      <p>You&#x2019;ve finished all the questions. What would you like to do next? </p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="stats" role="link">See how your assessment went</button>
        </li>
        <li>
          <button class="nav-link" data-action="restart">Try again</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-pip" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide get-started" id="resume">
    <div class="box">
      <h1 tabindex="-1">Hello again</h1>
      <p>It looks like you&#x2019;ve been here before. If that’s the case you can &#x201c;Continue&#x201d; to pick up where you left off or &#x201c;Start over&#x201d; to clear what you&#x2019;ve done before and try any of the questions again. If you haven&#x2019;t here before choose &#x201c;Start over&#x201d;.</p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="resume">Continue</button>
        </li>
        <li>
          <button class="nav-link" data-action="clean-up" role="link">Start over</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide stats" id="stats">
    <div class="stats-container">
      <div id="stats-content" class="flow"></div>
    </div>
  </div>

  <div class="slide remember" id="remember">
    <div class="flow">
      <h2>Remember</h2>
      <h3>Travel</h3>
      <ul class="ticks">
        <li>
          Plan your journey to the assessment - your appointment letter will usually have a map with it.
        </li>
        <li>
          Your assessor will probably ask you how you got to the assessment. It may affect your claim if your answer seems to contradict the answers given on your form.
        </li>
        <li>
          Ask for a travel reimbursement claim form at the assessment if you do not already have one.
        </li>
        <li>
          Make sure you keep bus/train tickets/receipts or parking tickets/receipts for you and anyone who goes with you.
        </li>
      </ul>
      <h3>Letters from the DWP</h3>
      <ul class="ticks">
        <li>
          You need to take your appointment letter and proof of ID to the assessment. Your letter tells you what is acceptable proof of ID.
        </li>
        <li>
          Your appointment letter tells you about some other things to take such as medical letters, glasses, walking aids etc.
        </li>
      </ul>
      <h3>Preparing your answers</h3>
      <ul class="ticks">
        <li>
          If your condition has worsened since you completed the form, get a report/letter from a doctor or other professional to explain how it has changed, and how that impacts on you.        </li>
        <li>
          Write down points you want to make about your conditions and their impact on you in case they are not covered/asked about by the assessor.
        </li>
        <li>
          Write down any questions you may have for the assessor.
        </li>
        <li>
          Consider keeping a diary which you can show the assessor. This will help you track your good and bad days, the impact of any treatment you have, and whether what you do on one day affects how you feel on the next.
        </li>
      </ul>
      <h3>At the assessment</h3>
      <ul class="ticks">
        <li>
          You can take someone with you to the assessment.
        </li>
        <li>
          Remember, the assessor does not decide your entitlement to benefit, they send a report to DWP who decides. You have the right to challenge the outcome of the assessment.
        </li>
        <li>
          If you are not sure about what you are being asked, ask the assessor for an explanation.
        </li>
        <li>
          Take your time to answer questions.
        </li>
        <li>
          If you are asked to do something physical such as bend or stretch, and it causes you any difficulty or pain or you can’t do it, then tell the assessor.
        </li>
      </ul>
      <h3>If you can&#x2019;t attend</h3>
      <ul class="ticks">
        <li>
          If you can&#x2019;t make it to the appointment you must let the DWP know. If you do not, and you do not go, your benefit will be affected and may be stopped until you do attend an assessment. You will not usually be able to cancel more than one appointment without it affecting your benefit.
        </li>
      </ul>
      <ul aria-label="menu">
        <li>
          {{#if incomplete}}
          <button class="nav-link pick" data-action="start-or-resume">Try some questions</button>
          {{else}}
          <button class="nav-link pick" data-action="restart">Try again</button>
          {{/if}}
        </li>
        <li>
          <button class="nav-link break" data-action="break">I&#x2019;ll have a break</button>
        </li>
        <li>
          <button class="nav-link break" data-action="menu">Home</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide transcript" id="transcript">
    <div class="flow">
      <h1 tabindex="-1">Read the video transcript</h1>
      <div class="about-buttons-content">
      </div>
          <p><strong>Screen 1: </strong>This is a guide providing the basic information to help you apply for Personal Independence Payment, PIP for short, for you or someone you care for.</p>
            <details>
              <summary>Captions</summary>
              <p>Caption: A Guide to Personal Independance Payment Assessments</p>
            </details>
          <p><strong>Screen 2: </strong>PIP is a new benefit paid to people who live with long-term disabilities, or long-term health conditions that impact on their daily life. It’s not designed to help people whose disability or health condition only affect them in the short term. PIP is also claimed by people who are terminally ill, for whom special rules apply.</p>
          <p>It’s replacing Disability Living Allowance, or DLA, for people aged between 16 and 64.</p>
            <details>
              <summary>Captions</summary>
              <p>Caption: What is PIP? Health Graphic</p>
              <p>Graphic: Heart with zig zag</p>
            </details>
          <p><strong>Screen 3: </strong>PIP has a ‘daily living’ and a ‘mobility’ component. There are two rates for each of these components: the standard rate, and the enhanced rate for people who are more severely affected by their condition.</p>
          <p>You can receive payments for both the ‘daily living’ and ‘mobility’ components, or just one of the two.</p>
            <details>
              <summary>Captions</summary>
              <p>Captions: Components and Rates of PIP</p>
              <p>'Daily living' component - caption and Graphic – head under a shower with animated water drops</p>
              <p>'Mobility' component - caption and Graphic – person with a walking stick</p>
              <p>'Standard rate' payment</p>
              <p>'Enhanced rate' payment</p>
            </details>
          <p><strong>Screen 4: </strong>To receive PIP you have to go through a process that involves:</p>
            <ul>
              <li>Firstly, filling in the ‘How Your Condition Affects You’ form, which asks you how your disability or health condition makes things difficult for you in daily life.</li>
              <li>And secondly, for most people, a face-to-face assessment.</li>
            </ul>
          <p>An independent medical professional carries out the assessment. The assessor does not make the final decision on your claim, but makes recommendations to a decision maker from the Department for Work and Pensions, the DWP for short.</p>
            <details>
              <summary>Captions</summary>
                <p>How your claim is assessed</p>
                <p>The 'How Your Condition Affects you' form</p>
                <p>Graphic: Application Form</p>
                <p>A face-to-face assessment</p>
                <p>Graphic: Assessment – two heads facing each other</p>
              </details>
          <p><strong>Screen 5: </strong>When making their recommendation, the assessor will consider:</p>
            <ul>
              <li>The answers you give on the ‘How Your Condition Affects You’ form.</li>
              <li>All the evidence that you send with the form or provide at the face to face assessment.</li>
              <li>The answers you give at your face-to-face assessment.</li>
            </ul>
            <details>
              <summary>Captions</summary>
              <p>Caption: What the assessor will look at</p>
              <p>Graphic: form / answers written</p>
              <p>Graphic: letter in envelope</p>
              <p>Graphic: assessment – two heads facing each other</p>
            </details>
          <p><strong>Screen 6: </strong>The assessor looks at how your disability or health condition affect the way you carry out a number of different activities.</p>
            <details>
              <summary>Captions</summary>
              <p>Caption: At the assessment</p>
            </details>
          <p><strong>Screen 7: </strong>These are the activities relating to the daily living component:</p>
            <ul>
              <li>Preparing food.</li>
              <li>Eating and drinking.</li>
              <li>Managing your treatments.</li>
              <li>Washing and bathing.</li>
              <li>Managing your toilet needs/ continence.</li>
              <li>Dressing and undressing.</li>
              <li>Communicating verbally and non verbally.</li>
              <li>Reading and understanding written information.</li>
              <li>Mixing with others.</li>
              <li>Making decisions about money.</li>
            </ul>
              <details>
                <summary>Captions</summary>
                <p>Daily living activity graphic in top corner == rolling credit or scaled up on physical activity in focus</p>
                <p>Caption: Daily living activities</p>
                <p>Graphic: Plate with knife and fork</p>
                <p>Graphic: Person taking a shower</p>
                <p>Graphic: Medication pills</p>
                  <ul>
                    <li>Preparing food.</li>
                    <li>Eating and drinking.</li>
                    <li>Managing your treatments.</li>
                    <li>Washing and bathing.</li>
                    <li>Managing your toilet needs/ continence.</li>
                    <li>Dressing and undressing.</li>
                    <li>Communicating verbally and non verbally.</li>
                    <li>Reading and understanding written information.</li>
                    <li>Mixing with others.</li>
                    <li>Making decisions about money.</li>
                  </ul>
            </details>
          <p><strong>Screen 8: </strong>These are the activities relating to the mobility component:</p>
            <ul>
              <li>Planning a journey.</li>
              <li>Moving around</li>
            </ul>
          <details>
            <summary>Captions</summary>
              <p>Caption: Mobility activities</p>
              <p>Mobility graphic in corner
              = rolling credit or scaled up on mental activity in focus</p>
                <ul>
                  <li>Planning a journey</li>
                  <li>Moving around</li>
                </ul>
            </details>
          <p><strong>Screen 9: </strong>You will be given a score for each of these activities.</p>
          <p>For example, for the activity ‘dressing and undressing’, if you can dress and undress unaided, you will score 0 points. If you cannot dress or undress at all, this will score 8 points. If you need prompting to select appropriate clothing, or if you need assistance to undress part of your body, you will get a score in between.</p>
          <p>Some other activities, such as moving around, have highest scores of 10 or 12 points.</p>
          <p>Your scores across the activities will be added, and that will decide the recommendation the assessor makes.</p>
            <details>
              <summary>Captions</summary>
              <p>Caption: How the assessment will be scored</p>
              <p>Graphic: Scoring graphic - graph</p>
            </details>
          <p><strong>Screen 10: </strong>Some tips for you to bear in mind.</p>
          <p>When Filling Out the Form.</p>
            <ul>
              <li>Don’t be intimidated by the questions, or by the form’s length. The questions are simple and are not trying to catch you out.</li>
              <li>Give enough detail about how your condition affects you.</li>
              <li>Get help if you need it from a Citizen’s Advice Bureau or advice centre.</li>
            </ul>
              <details>
                <summary>Captions</summary>
                <p>Completing the ‘How Your Disability Affects You’ form</p>
                <p>Captions: Filling in the form &#38; form graphic</p>
                <p>Don’t worry!</p>
                <p>Give details</p>
                <p>Ask for help</p>
              </details>
          <p><strong>Screen 11: </strong>Throughout the Assessment</p>
          <p>Don’t put on a brave face when talking about your disability or health condition; be clear about how much it affects you.</p>
            <details>
              <summary>Captions</summary>
              <p>Captions: Make sure you answer honestly and accurately</p>
              <p>How does your condition affect you on your worst day?</p>
            </details>

          <p><strong>Screen 12: </strong>Your condition may change from day to day, be clear about how it impacts on you on your worst day.</p>
          <p>Be aware of what it means to say you are able to carry out a task. Can you do it safely, properly, more than once, and within a reasonable time period? Does it cause you pain when you carry out the task? Make it clear if you use any aids to help you.</p>
          <p>Equally, don’t pretend things are worse than they really are. Knowingly giving false answers as part of a benefit application is benefit fraud, which is a criminal offence.</p>
            <details>
              <summary>Captions</summary>
              <p>Caption: Can you do it:</p>
                <ul>
                  <li>Safely</li>
                  <li>Properly</li>
                  <li>More than once</li>
                  <li>Within a reasonable time period</li>
                </ul>
              </details>
            <p><strong>Screen 13: </strong></p>
            <ul>
              <li>You should keep copies of your initial application, your ‘How Your Condition Affects You’ form, and all the written evidence that you send or give to the assessor.</li>
            </ul>
              <details>
                <summary>Captions</summary>
                  <p>Keep copies of your documents</p>
                  <p>Form Graphic</p>
              </details>
          <p><strong>Screen 14: </strong>Before the assessment:</p>
            <ul>
              <li>Make a list of your health conditions and disabilities, so that you don’t forget to mention them at the assessment.</li>
              <li>Think about the ways they impact on the daily living and mobility activities the assessment looks at.</li>
              <li>Try taking the test on our website first, where you can save and print off your most important answers!</li>
            </ul>
              <details>
                <summary>Captions</summary>
                  <p>Caption: Prepare for the questions</p>
                  <p>Making a list Graphic</p>
                  <p>Website address</p>
              </details>
          <p><strong>Screen 15: </strong>Plan your journey to the assessment centre in advance. Don’t be late!</p>
            <details>
              <summary>Captions</summary>
                <p>Caption: Plan your journey</p>
                <p>Graphic: clock graphic</p>
            </details>
          <p><strong>Screen 16: </strong>You have rights at the face to face assessment</p>
            <ul>
              <li>You will be able to claim back reasonable expenses for getting to your assessment.</li>
              <li>You have the right to be accompanied at your assessment. You can ask a relative, friend, carer, or an advocate or support worker to go with you.</li>
              <li>You have a right to complain about the assessment if you don’t think it was conducted fairly.</li>
            </ul>
            <details>
              <summary>Captions</summary>
                <p>Captions: Your Rights</p>
                <p>Claim Expenses - Money graphic</p>
                <p>You have a right to be accompanied - two people graphic</p>
                <p>You have the right to complain - Pencil graphic</p>
              </details>
          <p><strong>Screen 17: </strong>Once the decision is made you will receive a letter from the DWP telling you the outcome of your application. It will explain how the decision was made, including the points you scored in your test. It will tell you which components you will get, which rates you will receive, and how long it will be until your case will be reassessed.</p>
          <details>
            <summary>Captions</summary>
              <p>Caption: The Decision</p>
              <p>You will find out if you will receive the benefit and how much you will be paid</p>
            </details>
          <p><strong>Screen 18: </strong>Depending on the components and rate of PIP you are entitled to, you might qualify for other benefits or help, for example, the motability scheme.</p>
          <details>
            <summary>Captions</summary>
              <p>Caption: You might qualify for other benefits</p>
              <p>Graphic: Mobility Scooter</p>
          </details>
          <p><strong>Screen 19: </strong>If you do not think the decision you have received is correct, you can request a mandatory reconsideration. If, after that, you still don’t think the decision is right, you can appeal against it. We recommend that you get some support for this from a local Citizen’s Advice Bureau or advice centre.</p>
            <details>
              <summary>Captions</summary>
                <p>Caption: If you are unhappy with the decision</p>
                <p>Help graphic – head with speech bubble with a question mark</p>
              </details>
          <p><strong>Screen 20: </strong>To start your claim for PIP:</p>
            <ul>
              <li>Call the DWP on 0800 917 2222</li>
              <li>or by text phone on 0800 917 7777</li>
            </ul>
          <p>You can get more information about the PIP assessment and try some of the questions at our independant website <a href="http://www.pip-assessment.support">www.pip-assessment.support</a></p>
        <div class="about-buttons-content">
        </div>
    </div>
  </div>
  <div class="slide about" id="about-pip">
    <div class="flow">
      <h1 tabindex="-1">Essential guide to PIP</h1>

      <div class="expandies information">
        <h2><button aria-controls="what-is-PIP" aria-expanded="false">What is PIP?</button></h2>
        <div id="what-is-PIP" aria-hidden="true">
          <p>Personal Independence Payment (or PIP, for short) is a new benefit paid to people who live with long-term disabilities, or long-term health conditions that impact on their daily life. It&#x2019;s not designed to help people whose disability or health condition only affect them in the short term.</p>
            <p>PIP is also claimed by people who are terminally ill, for whom different conditions apply.</p>
            <p>It&#x2019;s replacing Disability Living Allowance, or DLA, for people aged between 16 and 64.</p>
        </div>
        <h2><button aria-controls="rates" aria-expanded="false">Elements and rates of PIP</button></h2>
        <div id="rates" aria-hidden="true">
          <p>PIP has a <strong>daily living</strong> and a <strong>mobility</strong> component. There are two rates for each of these components: the standard rate, and the enhanced rate for people who are more severely affected by their condition.</p>
          <p>You can received both the daily living and mobility components of PIP, or just one of the two.</p>
          <p>For more information on components and rates refer to the Government's <a href="https://www.gov.uk/pip/what-youll-get" target="_blank">PIP Information page.</a></p>
        </div>
        <h2><button aria-controls="applying-for-pip" aria-expanded="false">Applying for PIP</button></h2>
        <div id="applying-for-pip" aria-hidden="true">
          <p>To receive PIP you have to go through a process that involves:</p>
          <ul class="ticks">
            <li>Making a claim for PIP, usually by telephone on <a href="tel:08009172222">0800 917 2222</a> <br/>or by textphone on <a href="tel:08009177777">0800 917 7777</a>.</li>
            <li>Filling in the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/259311/pip2-how-your-disability-affects-you-form.pdf" target="_blank">&#x201c;How your condition affects you&#x201d;</a> form, which asks how your disability or health condition makes things difficult for you in daily life.</li>
            <li>Most people also have a face-to-face assessment.</li>
          </ul>
          <p>An independent medical professional carries out the assessment. The assessor does not make the final decision on your claim, but makes recommendations to a decision maker from the Department for Work and Pensions (DWP).</p>
        </div>
      </div>

    <div class="video-embed">
      <iframe id="video-iframe" src="https://player.vimeo.com/video/145264946" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="button-box">
  <!--      <label id="video-unsigned">
          <input type="radio" value="0" class="button-shaped" aria-hidden="false" href="https://vimeo.com/145264946" title="Watch the video"><span>Watch the video</span>
        </label> -->

          <a id="video-signed" class="button-shaped" aria-hidden="false" title="Watch the video with BSL">Watch the video with BSL</a>

          <a id="video-transcript" class="button-shaped"  aria-hidden="false" data-action="transcript" title="Read the video transcript">Read the video transcript</a>
    </div>

      <p>Once you’ve looked at the Guide or the video, you can <a role="button" data-action="start-or-resume" href="javascript:void(0)">get more prepared by trying out some questions &#x2192;</a></p>
      <div class="expandies information">
        <h2><button aria-controls="looks-at" aria-expanded="false">What the assessor looks at</button></h2>
        <div id="looks-at" class="waypoint-trigger" aria-hidden="true">
          <p>When making their recommendation, the assessor will consider:</p>
          <ul class="ticks">
            <li>The answers you give on the &#x201c;How Your Condition Affects You&#x201d; form.</li>
            <li>All the evidence that you send with the form or provide at the face-to-face assessment.</li>
            <li>The answers you give at your face-to-face assessment.</li>
          </ul>
          <p>The assessor looks at how your disability or health conditions affect the way you carry out a number of different activities. These activities fall under the <strong>Daily living</strong> and <strong>Mobility</strong> categories.</p>
          <p>You will be given a score for each of these activities.</p>
          <p>For example, for the activity &#x201c;dressing and undressing&#x201d;, if you can dress and undress unaided, you will score 0 points. If you cannot dress or undress at all, this will score 8 points. If you need prompting to select appropriate
            clothing, or if you need assistance to undress part of your body, you will get a score in between. Some other activities, such as moving around, have the highest scores of 10 or 12.</p>
          <p>Your scores across the activities will be added, and that will decide the recommendation the assessor makes.</p>
        </div>
        <h2><button aria-controls="how-to-answer" aria-expanded="false">How to answer the assessment questions</button></h2>
        <div id="how-to-answer" aria-hidden="true">
          <ul class="ticks">
            <li>Don&#x2019;t put on a brave face when talking or writing about your disability or health condition - be clear about how much it affects you.</li>
            <li>Your condition may change from day to day, be clear about how it impacts on you on your worst day and other days when you don’t feel well.</li>
            <li>Be aware of what it means to say you are able to carry out a task. Can you do it safely, properly, more than once, and within a reasonable time period? Does it cause you pain when you carry out the task? Make it clear if you use any aids to help you. Are you exhausted after carrying out a task?</li>
            <li>Equally, don&#x2019;t pretend things are worse than they really are. Knowingly giving false answers as part of a benefit application is benefit fraud, which is a criminal offence.</li>
          </ul>
        </div>
        <h2><button aria-controls="the-form" aria-expanded="false">Tips for completing the form</button></h2>
        <div id="the-form" aria-hidden="true">
          <ul class="ticks">
            <li>Try not to be intimidated by the questions, or by the form&#x2019;s length. The questions are not trying to catch you out but get an accurate picture of your condition.</li>
            <li>Give enough detail about how your condition affects you.</li>
            <li>Get help if you need it from a <a href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/" target="_blank">Citizen&#x2019;s Advice Bureau</a> or advice centre.</li>
          </ul>
        </div>
        <h2><button aria-controls="before" aria-expanded="false">Preparing for the assessment</button></h2>
        <div id="before" aria-hidden="true">
          <ul class="ticks">
            <li>Make a list of your health conditions and disabilities, so you can mention them at the assessment. Think about the ways they impact on your life and the mobility activities the assessment looks at. Try <a role="button" href="#start" data-action="start"> answering some of the questions here</a> first, so you know the sorts of things you’ll be asked.</li>
            <li>Plan your journey to the assessment centre in advance. Don’t be late.</li>
            <li>Your assessor will probably ask you how you got to the assessment. It may affect your claim if the answer you give seems to contradict the answers given on your form.</li>
            <li>If your condition has worsened since you completed the form, get a report/letter from a doctor or other professional to explain how it has changed, and how that impacts on you.</li>
            <li>Consider keeping a diary which you can show the assessor. This will help you track your good and bad days, the impact of any treatment you have, and whether what you do on one day affects what you do on the next.</li>
          </ul>
        </div>
        <h2><button aria-controls="at-the-assessment" aria-expanded="false">Tips at the face-to-face assessment</button></h2>
        <div id="at-the-assessment" aria-hidden="true">
          <ul class="ticks">
            <li>If you are not sure about what you are being asked, ask the assessor for an explanation.</li>
            <li>Take your time to answer questions.</li>
            <li>If you are asked to do something physical such as bend/stretch and it causes you any difficulty or pain or you can&#x2019;t do it, then tell the assessor.</li>
          </ul>
        </div>
        <h2><button aria-controls="rights" aria-expanded="false">Your rights</button></h2>
        <div id="rights" aria-hidden="true">
          <ul class="ticks">
            <li>You have the right to be accompanied at your assessment. You can ask a relative, friend, carer, or an advocate or support worker to go with you.</li>
            <li>You will be able to claim back reasonable expenses for getting to your assessment, so keep any bus or train tickets, or parking fees. You can claim taxi receipts if you can’t get there by any other way and you have agreed it with them in advance.</li>
            <li>You have a right to complain about the assessment if you don&#x2019;t think it was conducted fairly.</li>
          </ul>
        </div>
        <h2><button aria-controls="the-outcome" aria-expanded="false">The outcome</button></h2>
        <div id="the-outcome" aria-hidden="true">
          <p>You will receive a letter from the DWP telling you the outcome of your application. It will explain how the decision was made, and include the points you scored in your test. It will tell you which of the components you will get, which rates you will receive, and how long it will be until your case will be reassessed.</p>
          <p>Depending on the components and rate of PIP you are entitled to, you might qualify for other benefits or help, for example the motability scheme.</p>
          <p>If you do not think the decision you have received is correct, you can request a mandatory reconsideration. If, after that, you still don’t think the decision is right, you can appeal against it. We recommend that you get some support for this from a local <a href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/" target="_blank">Citizen&#x2019;s Advice Bureau</a> or advice centre.</p>
        </div>
        <h2><button aria-controls="the-guide" aria-expanded="false">For more information</button></h2>
        <div id="the-guide" aria-hidden="true">
                <p>If you&#x2019;d like more information you can <a href="docs/All_About_PIP.pdf" title="opens a new tab" target="_blank">read our full guide</a> to applying for PIP (opens new tab).</p>
        </div>
        <div class="about-buttons-content">
        </div>
      </div>
    </div>
  </div>
  <div class="slide main-menu" id="main-menu">
    <div class="flow">
      <h1 tabindex="-1">PIP assessment</h1>
      <p>Personal Independence Payment (PIP) is a new benefit for people aged 16 to 64 to help with some of the extra costs caused by long-term ill-health or a disability.</p>
      <p>We understand that the benefits system can be confusing, so this site is here to help you prepare for the assessment.</p>
      <div class="big-buttons">
        <div class="learn-about">
            <button data-action="about-pip" role="link"><span>Learn more about PIP</span></button>
            <ul class="ticks">
              <li>Understand what PIP is and how to apply for it.</li>
              <li>Understand the assessment process.</li>
              <li>Get advice on how to answer the questions in the assessment.</li>
              <li>Be clear about your rights in the assessment.</li>
            </ul>

        </div>
        <div class="quiz-time">
            <button data-action="start-or-resume" role="link"><span>Take a look at some questions</span></button>
            <ul class="ticks">
              <li>Get more confident for the assessment, at your own pace.</li>
              <li>Focus on activies relevant to daily life living with your condition.</li>
              <li>Keep track of what to mention at an assessment.</li>
              <li>Get an idea of whether you'll qualify, and at what level.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="slide category-finished" id="category-finished">
    <div class="box">
      <span class="sprite-icons sprite-tick" alt="check box tick"></span>
      <div class="flex-center">
        <p>You&#x2019;ve seen all the questions about <strong id="this-activity">this activity</strong>. What would you like to look at next?</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="categories" role="link">A new activity</button>
        </li>
        <li>
          <button class="nav-link" data-action="stats" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-pip" role="link">Guide to PIP</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide chose-random-category" id="chose-random-category">
    <div class="box">
      <h1 tabindex="-1">Assorted questions</h1>
      <p>Because you chose &#x201c;Pick at random&#x201d;, we have selected an activity containing questions you haven&#x2019;t seen yet. Remember: You can <a role="button" href="#break-time" data-action="break">take a break</a> at any time.</p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="set-cat" data-category="random-category"><span id="unseen-category">Unseen category</span></button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide categories" id="categories">
    <div id="categories-content">
    </div>
  </div>
  <footer role="contentinfo">
    <p>Brought to you by
      <a href="http://www.seap.org.uk/" target="_blank" title="The Charity, seAp (link Opens new tab)">
        <span class="sprite sprite-logo" alt="The Charity, seAp (link Opens new tab)"></span>
      </a>
      <a href="http://www.thelegaleducationfoundation.org/" target="_blank" title="The Legal Education Foundation (link Opens new tab)">
        <span class="sprite sprite-TLEFlogo" alt="The Legal Education Foundation logo (link Opens new tab)"></span>
      </a>
      <a href="http://www.comicrelief.com/" target="_blank" title="Comic Relief (link Opens new tab)">
        <span class="sprite sprite-comic" alt="Comic Relief (link Opens new tab)"></span>
      </a>
    </p>
    <div class="privacy-link">
      <a id="feedback" href="https://www.surveymonkey.com/r/D5QDRDG" target="_blank" title="PIP Survey (link Opens new tab)">Is there anything wrong with this page?</a>
      <a id="privacy" href="http://c-app.org.uk/privacy.html">Privacy &#x26; terms of use</a>
    </div>
  </footer>
  <script>
    window.allQuestions = [{{#each questions}}{ question: 'question-{{sluggify question}}', category: '{{category}}' },{{/each}}];
    			window.allCategories = [{{#each questions}}'{{category}}',{{/each}}];
  </script>
  <script src="js/all-scripts.js"></script>
  <script id="stats-template" type="text/x-handlebars-template">
    <!--(bake stats-template.html)-->
  </script>
  <script id="categories-template" type="text/x-handlebars-template">
    <!--(bake categories-template.html)-->
  </script>
  <script id="about-buttons-template" type="text/x-handlebars-template">
    <!--(bake about-buttons-template.html)-->
  </script>
</body>

</html>
