<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/style.css" rel="stylesheet" media="all" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'">
		<title>My PIP Assessment</title>
		<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
			<script src="js/selectivizr-min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header role="banner">
			<span role="image" aria-label="SEAP assessments PIP logo">My PIP Assessment</span>
			<nav role="navigation" class="to-main-menu">
				<ul>
					<li>
						<a href="#main-menu" data-action="menu">Main Menu</a> 
					</li>
					<li>
						<a href="javascript:void(0)" data-action="stats">My Assessment</a>
					</li>
					<li>
						<a href="javascript:void(0)" data-action="data">My Data</a>
					</li>
				</ul>
			</nav>
		</header>
		{{#each questions}}
		<div class="slide question" id="question-{{sluggify question}}">
			<div class="question-container">
				<!--<img src="path/to/question-icon.svg" alt="" />-->
				<h2 class="question-text" tabindex="-1">
					<span class="activity">{{category}}</span>
					<span class="vh">Question:</span>
					<em>{{question}}</em>
				</h2>
				<div role="alert"></div>
				<div class="answers">
				<fieldset>
					<legend class="vh">Your answer</legend>
					{{#each answers}}
					<label>
			            <input type="radio" value="{{value}}" data-category-name="{{../category}}" name="{{sluggify ../question}}"> <span>{{label}}</span>
			        </label>
					{{/each}}
				</fieldset>
				</div>
				<ul aria-label="menu">
					<li>
						<button data-followup="#{{followUp}}" class="nav-link pick" data-action="pick">Ask me another</button>
					</li>
					<li>
						<button class="nav-link stats" data-action="stats" role="link">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link break" data-action="break">I need a break</button>
					</li>
				</ul>
			</div>
		</div>
		{{/each}}
		<div class="slide qualify" id="qualify-high-mobility">
			<div class="box green">
				<h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>High Mobility Rate</strong>
				</h1>
				<p>Your answer to the last question shows that you may qualify for the high PIP allowance regarding mobility. Do you want to try more questions?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide qualify" id="qualify-low-mobility">
			<div class="box green">
				<h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>Mobility Allowance</strong>
				</h1>
				<p>Your answer to the last question indicates you may qualify for the &#x201c;Mobility&#x201d; portion of PIP. It&#x2019;s still possible that you may qualify for a higher rate. To find out, try some more questions.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">My assessment so far</button>
					</li>
					<li>
						<button data-action="menu" class="nav-link" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide qualify" id="qualify-high-dailyLiving">
			<div class="box green">
				<h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>High Daily Living Rate</strong>
				</h1>
				<p>Your answer to the last question shows that you may qualify for the high PIP allowance regarding &#x201c;Daily Living&#x201d;. Do you want to try more questions?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide qualify" id="qualify-low-dailyLiving">
			<div class="box green">
				<h1 tabindex="-1">
					You may qualify for the<br/>
					<strong>Daily Living Allowance</strong>
				</h1>
				<p>Your answer to the last question indicates you may qualify for the &#x201c;Daily Living&#x201d; portion of PIP. It&#x2019;s still possible that you may qualify for a higher rate. To find out, try some more questions.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">My assessment so far</button>
					</li>
					<li>
						<button data-action="menu" class="nav-link" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide break-time" id="break-time">
			<div class="box">
				<img src="images/tea.png" alt="steaming cup of tea" />
				<h1 tabindex="-1">You&#x2019;re on a break</h1>
				<p>Feel free to close the window or turn off your computer and come back when you&#x2019;re ready. Everything will be as you left it :-)</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide deleted" id="deleted">
			<div class="box">
				<h1 tabindex="-1" style="red">Deleted</h1>
				<p>All of your assessment data has been successfully deleted from your computer.</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="menu" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="start">
			<div class="box">
				<h1 tabindex="-1">Let&#x2019;s begin</h1>
				<p>In your real assessment you&#x2019;ll be asked questions about your ability to do activities. Here, you can try out some of these questions and be told how you might do in a real assessment. You can <a role="button" href="#break-time" data-action="break">take a break</a> at any time and come back later. Your computer will remember where you were in the app :-)</p>
				<div><button class="nav-link" data-action="categories">Choose an activity</button></div>
			</div>
		</div>
		<div class="slide get-started" id="seen-all">
			<div class="box green">
				<h1 tabindex="-1">No more new questions</h1>
				<p>You&#x2019;ve seen all the questions (so you&#x2019;re pretty familiar with the assessment now!) but you skipped some. What would you like to do?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="skipped">Answer skipped questions</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">My assessment so far</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="seen-all-even-skipped">
			<div class="box green">
				<h1 tabindex="-1">Practise Complete!</h1>
				<p>You&#x2019;ve answered all the practice questions available, so you&#x2019;re pretty well versed now. What would you like to do next?</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="stats" role="link">How my assessment went</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Practise again</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu" role="link">Main Menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="resume">
			<div class="box">
				<h1 tabindex="-1">Hello again?</h1>
				<p>Looks like you&#x2019;ve been here before. Press &#x201c;continue&#x201d; if you want to go back to where you were. Not been here before? Choose &#x201c;main menu&#x201d;.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="clean-up" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide stats" id="stats">
			<div class="stats-container">
				<div id="stats-content" class="flow"></div>
			</div>
		</div>
		<div class="slide about" id="about-PIP">
			<div class="flow">
				<h1 tabindex="-1">A Quick Guide To PIP</h1>
				<p>Please choose from the options below to get familiar with PIP and for tips on taking your assessment. Not in the mood for reading? <a role="button" data-action="start-or-resume" href="javascript:void(0)">Practice some assessment questions instead &#x2192;</a></p>
				<div class="expandies">
					<h2><button aria-controls="what-is-PIP" aria-expanded="false">What is PIP?</button></h2>
					<div id="what-is-PIP" aria-hidden="true">
						<p>Personal Independence Payment (or PIP, for short) is a new benefit paid to people who live with long-term disabilities, or long-term health conditions that impact on their daily life. It’s not designed to help people whose disability or health condition only affect them in the short term. PIP is also claimed by people who are terminally ill, for whom different conditions apply.</p>
						<p>It&#x2019;s replacing Disability Living Allowance, or DLA, for people aged between 16 and 64.</p>
					</div>
	    			<h2><button aria-controls="rates" aria-expanded="false">Rates of PIP</button></h2>
	    			<div id="rates" aria-hidden="true">
	    				<p>PIP has a <strong>daily living</strong> and a <strong>mobility</strong> component. There are two rates for each of these components: the standard rate, and the enhanced rate for people who are more severely affected by their condition.</p>
	    			</div>
	    			<h2><button aria-controls="applying-for-pip" aria-expanded="false">Applying for PIP</button></h2>
	    			<div id="applying-for-pip" aria-hidden="true">
	    				<p>To receive PIP you have to go through a process that involves:</p>
	    				<ul class="ticks">
	    					<li>Firstly, making a claim for PIP, usually by telephone</li>
	    					<li>Secondly, filling in the &#x201c;How Your Condition Affects You&#x201d; form, which asks you how your disability or health condition makes things difficult for you in daily life.</li>
	    					<li>And secondly, for most people, a face-to-face assessment</li>
	    				</ul>
	    				<p>An independent medical professional carries out the assessment. The assessor does not make the final decision on your claim, but makes recommendations to a decision maker from the Department of Work and Pensions, or the DWP for short.</p>
	    			</div>
	    			<h2><button aria-controls="looks-at" aria-expanded="false">What the assessor looks at</button></h2>
	    			<div id="looks-at" aria-hidden="true">
	    				<p>When making their recommendation, the assessor will consider:</p>
	    				<ul>
	    					<li>The answers you give on the &#x201c;How Your Condition Affects&#x201d; You form</li>
	    					<li>All the evidence that you send with the form or provide at the face to face assessment</li>
	    					<li>The answers you give at your face-to-face assessment</li>
	    				</ul>
	    			</div>
	    			<h2><button aria-controls="at-the-assessment" aria-expanded="false">At the assessment</button></h2>
	    			<div id="at-the-assessment" aria-hidden="true">
	    				<p>The assessor asks you how your disability or health conditions affect the way you carry out a number of different activities. These activities fall under the categories <strong>Daily Living</strong> and <strong>Mobility</strong>.</p>
	    			</div>
	    			<h2><button aria-controls="scoring" aria-expanded="false">Before going to your assessment</button></h2>
	    			<div id="scoring" aria-hidden="true">
						<p>You will be given a score for each of these activities.</p>
						<p>For example, for the activity &#x201c;dressing and undressing&#x201d;, if you can dress and undress unaided, you will score 0 points. If you cannot dress or undress at all, this will score 8 points. If you need prompting to select appropriate clothing, or if you need assistance to undress part of your body, you will get a score in between.</p>
						<p>Your scores across the activities will be added, and that will decide the recommendation the assessor makes.</p>
	    			</div>
	    			<h2><button aria-controls="the-form" aria-expanded="false">Completing the &#x201c;How Your Condition Affects You&#x201d; form</button></h2>
	    			<div id="the-form" aria-hidden="true">
	    				<p>When filling out the form:</p>
	    				<ul class="ticks">
	    					<li>Don&#x2019;t be intimidated by the questions, or by the form&#x2019;s length. The questions are simple and are not trying to catch you out</li>
	    					<li>Give enough detail about how your condition affects you</li>
	    					<li>Get help if you need it from a Citizen&#x2019;s Advice Bureau or advice centre</li>
	    				</ul>
	    			</div>
	    			<h2><button aria-controls="how-to-answer" aria-expanded="false">How to answer questions</button></h2>
	    			<div id="how-to-answer" aria-hidden="true">
	    				<p>Here are some tips:</p>
	    				<ul class="ticks">
	    					<li>Don&#x2019;t put on a brave face when talking about your disability or health condition; be clear about how much it affects you.</li>
	    					<li>Your condition may change from day to day, be clear about how it impacts on you on your worst day.</li>
	    					<li>Be aware of what it means to say you are able to carry out a task. Can you do it safely, properly, more than once, and within a reasonable time period? Does it cause you pain when you carry out the task? Make it clear if you use any aids to help you.</li>
	    					<li>Equally, don’t pretend things are worse than they really are. Knowingly giving false answers as part of a benefit application is benefit fraud, which is a criminal offence.</li>
	    				</ul>
	    			</div>
					<h2><button aria-controls="before" aria-expanded="false">Before the assessment</button></h2>
	    			<div id="before" aria-hidden="true">
	    				<ul class="ticks">
	    					<li>Make a list of your health conditions and disabilities, so that you don’t forget to mention them at the assessment</li>
	    					<li>Think about the ways they impact on the daily living and mobility activities the assessment looks at</li>
	    					<li>Try <a href="javascript:void(0)" data-action="start-or-resume">practising the assessment</a> on our website first, where you can save and print off your most important answers!</li>
	    					<li>Plan your journey to the assessment centre in advance. Don’t be late!</li>
	    				</ul>
	    			</div>
	    			<h2><button aria-controls="rights" aria-expanded="false">Your rights</button></h2>
	    			<div id="rights" aria-hidden="true">
	    				<ul class="ticks">
	    					<li>You will be able to claim back reasonable expenses for getting to your assessment, so keep any bus or train tickets, or parking fees.</li>
	    					<li>You have the right to be accompanied at your assessment. You can ask a relative, friend, carer, or an advocate or support worker to go with you</li>
	    					<li>You have a right to complain about the assessment if you don&#x2019;t think it was conducted fairly</li>
	    				</ul>
	    			</div>
	    			<h2><button aria-controls="the-outcome" aria-expanded="false">The outcome</button></h2>
	    			<div id="the-outcome" aria-hidden="true">
	    				<p>You will receive a letter from the DWP telling you the outcome of your application. It will explain how the decision was made, and include the points you scored in your test. It will tell you which of the components you will get, which rates you will receive, and how long it will be until your case will be reassessed.</p>
	    				<p>Depending on the components and rate of PIP you are entitled to, you might qualify for other benefits or help, for example the motability scheme.</p>
	    				<p>If you are unhappy with the decision you have received, you can request a mandatory reconsideration. If, after that, you are still unhappy with the decision, you can appeal against it. We recommend that you get some support for this from a local Citizen’s Advice Bureau or advice centre.</p>
	    			</div>
					<div class="print-box">
						<a class="button-shaped" aria-hidden="true" href="docs/All_About_PIP.pdf" title="opens a new tab" target="_blank">Read The Guide (opens new tab)</a>
						<p>Want to know more? You can <a href="docs/All_About_PIP.pdf" target="_blank">read our in-depth guide (PDF) <span class="vh">opens new tab</span></a>.</p>
					</div>
					<ul aria-label="menu">
						<li>
							<button class="nav-link" data-action="start-or-resume" role="link">Practise some assessment questions</button>
						</li>
						<li>
							<button class="nav-link" data-action="menu" role="link">Main menu</button>
						</li>
					</ul>					
    			</div>
			</div>
		</div>
		<div class="slide main-menu" id="main-menu">
			<div class="flow">
				<h1 tabindex="-1">My PIP Assessment</h1>
				<p class="larger">Welcome to our <abbr title="Employment And Support Allowance">PIP</abbr> website, designed to help you get ready for your PIP assessment. This website is <strong class="tick">run independently and impartially</strong> by the charity SEAP, <strong class="tick">does not collect your personal data</strong> and contains <strong class="tick">no long, boring forms!</strong></p>
				<div role="toolbar" aria-label="menu options">
					<ul>
						<li class="half">
							<button data-action="about-PIP" role="link">A Quick Guide To PIP <span>and your assessment</span></button>
						</li>
						<li>
							<button data-action="start-or-resume"><i aria-hidden="true">&#x2605;</i> Practise <i aria-hidden="true">&#x2605;</i> <span>by assessing yourself</span></button>
						</li>
						<li>
							<button data-action="stats" role="link">My Assessment <span>and how it&#x2019;s going so far</span></button>
						</li>
						<!--<li class="half">
							<button data-action="answering-questions">Answering <span>questions the right way</span></button>
						</li>
						<li class="half">
							<button data-action="prep" data-prep-slug="travel">Travelling <span>to your assessment</span></button>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
		<div class="slide category-finished" id="category-finished">
			<div class="box">
				<h1 tabindex="-1">Well done!</h1>
				<p>You&#x2019;ve seen all the practise questions about <strong id="this-activity">this activity</strong>. What would you like to look at next?</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="categories" role="link">A new activity</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu" role="link">Main menu</button>
					</li>
				</ul>				
			</div>
		</div>
		<div class="slide chose-i-dont-know" id="chose-i-dont-know">
			<div class="box">
				<h1 tabindex="-1">Assorted questions</h1>
				<p>Because you chose &#x201c;I don&#x2019;t know&#x201d;, we will now choose questions for you for each of the activities in turn. Remember: You can <a role="button" href="#break-time" data-action="break">take a break</a> at any time.</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="pick">My first question</button>
					</li>
				</ul>				
			</div>
		</div>
		<div class="slide data" id="data">
			<div class="flow">
				<h1 tabindex="-1">My Data</h1>
				<p>This app does not send any of your data anywhere or keep any for itself. However, it <em>does</em> save some data just on the computer you&#x2019;re using in order to work properly.</p> 
				<p>If this is not your computer, tablet or phone you can delete all this data when you are done using the app. This way, no one else will see it.</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link red" data-action="delete-data">I'm done! Delete my stuff</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats" role="link">I want to see my data first</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu" role="link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide categories" id="categories">
			<div class="box" id="categories-content">
			</div>
		</div>
		<footer role="contentinfo">
			<p>Brought to you by <a href="http://www.seap.org.uk/" target="_blank"><img src="images/logo.png" alt="The Charity, SEAP (link Opens new tab)" /></a></p>
		</footer>
		<script>
			window.allQuestions = [{{#each questions}}{ question: 'question-{{sluggify question}}', category: '{{category}}' },{{/each}}];
			window.allCategories = [{{#each questions}}'{{category}}',{{/each}}];
		</script>
		<script src="js/all-scripts.js"></script>
		<script id="stats-template" type="text/x-handlebars-template">
			<!--(bake stats-template.html)-->
		</script>
		<script id="categories-template" type="text/x-handlebars-template">
			<!--(bake categories-template.html)-->
		</script>
	</body>
</html>

